<div style="background-color: white; background-image: url('https://driveus.newbook.cloud/instances_132f9f7608b4e0e9b6bf7a214a05e1fa_5e56a3d199c9f.png'), url('https://driveus.newbook.cloud/instances_132f9f7608b4e0e9b6bf7a214a05e1fa_5e56a3d199271.png'); background-position: bottom left, top right; background-repeat: no-repeat, no-repeat; background-attachment: fixed, fixed; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; padding-top: 10px; padding-bottom: 10px;">
    <table id="parent" style="table-layout: fixed; width: 100%; max-width: 650px; margin: 90px auto; padding-left: 25px; padding-right: 25px;" width="100%">
        <tr class="pt-9">
            <th colspan="2" style="text-align: left; width: 100%;" align="left">
                <img src="https://driveus.newbook.cloud/instances_132f9f7608b4e0e9b6bf7a214a05e1fa_5e56abf845c07.png" alt="Terramor Outdoor Resourt" height="68.97" width="300">
            </th>
        </tr>
    </table>




    <table id="parent" style="table-layout: fixed; width: 100%; max-width: 650px; margin: 90px auto; padding-left: 25px; padding-right: 25px;" width="100%">        
                <tbody>
                    <tr class="spacer-50" style="height: 50px;"></tr>
                    <tr>
                        <td colspan="2" style="width: 100%;" width="100%">
                            <h2 style="font-weight: normal; margin-bottom: 10px;">Greetings John,</h2>
                            <p>Thank you for your interest in staying at Terramor! We are pleased to offer the following options:</p>
                        </td>
                    </tr>
        
                    <tr class="spacer-50" style="height: 50px;"></tr>
                    <tr>
                        <td class="text-center" id="booking-num" colspan="2" style="width: 100%; text-align: center; height: 60px; background-color: #B14932; color: #E9E7DC; font-size: 1rem;" width="100%" height="60" align="center" bgcolor="#B14932">
                            Quote for Stay
                        </td>
                    </tr>
        
                    <tr class="spacer-50" style="height: 50px;"></tr>
                    <tr>
                        <td colspan="2" style="width: 100%;" width="100%">
                            <h3 style="font-weight: normal;"><b>Bayberry Tent</b></h3>
                            <p>The Bayberry Tent is perfect for couples to experience Terramor in their own secluded get-away. The tent includes a King Bed with an overhead fan and an upscale, private bathroom. The Bayberry also comes with a private outdoor fire
                                experience and relaxing outdoor furniture.</p>
                        </td>
                    </tr>
        
                    <tr>
                        <td style="width: 100%;" width="100%">
                            <div class="text-title" style="font-size: .75rem; color: #90958B; letter-spacing: .05rem;">Arrive</div>
                            <div class="text-data" style="font-weight: bold; color: #2A2B29; font-size: 1.125rem; margin-top: .1rem; margin-bottom: 1rem; letter-spacing: 0.03rem; text-transform: uppercase;">Jul 03 2020</div>
        
                            <div class="text-title" style="font-size: .75rem; color: #90958B; letter-spacing: .05rem;">Depart</div>
                            <div class="text-data" style="font-weight: bold; color: #2A2B29; font-size: 1.125rem; margin-top: .1rem; margin-bottom: 1rem; letter-spacing: 0.03rem; text-transform: uppercase;">Jul 05 2020</div>
        
                            <div class="text-title" style="font-size: .75rem; color: #90958B; letter-spacing: .05rem;">Duration</div>
                            <div class="text-data" style="font-weight: bold; color: #2A2B29; font-size: 1.125rem; margin-top: .1rem; margin-bottom: 1rem; letter-spacing: 0.03rem; text-transform: uppercase;">2 Nights</div>
                        </td>
        
                        <td id="profile" style="width: 100%; padding: 1.75rem; background-color: #E9E7DC; color: #90958B; font-size: .8125rem;" width="100%" bgcolor="#E9E7DC">
                            <b style="color: #2A2B29; font-size: 1.25rem;">John Johnson</b>
                            <p>550 N. 31st St W<br>Billings, MT 59101</p>
                            <p>(406) 123-4567</p>
                        </td>
                    </tr>
        
                    <tr class="spacer-50" style="height: 50px;"></tr>
                    <tr>
                        <td colspan="2" style="width: 100%;" width="100%">
                            <table style="table-layout: fixed; width: 100%; max-width: 650px;" width="100%">
                                <tr>
                                    <td class="text-center" style="width: 100%; text-align: center;" width="100%" align="center">
                                        <div class="text-title" style="font-size: .75rem; color: #90958B; letter-spacing: .05rem;">Adults</div>
                                        <div class="text-data" style="font-weight: bold; color: #2A2B29; font-size: 1.125rem; margin-top: .1rem; margin-bottom: 1rem; letter-spacing: 0.03rem; text-transform: uppercase;">0</div>
                                    </td>
        
                                    <td class="text-center" style="width: 100%; text-align: center;" width="100%" align="center">
                                        <div class="text-title" style="font-size: .75rem; color: #90958B; letter-spacing: .05rem;">Children</div>
                                        <div class="text-data" style="font-weight: bold; color: #2A2B29; font-size: 1.125rem; margin-top: .1rem; margin-bottom: 1rem; letter-spacing: 0.03rem; text-transform: uppercase;">0</div>
                                    </td>
        
                                    <td class="text-center" style="width: 100%; text-align: center;" width="100%" align="center">
                                        <div class="text-title" style="font-size: .75rem; color: #90958B; letter-spacing: .05rem;">Infants</div>
                                        <div class="text-data" style="font-weight: bold; color: #2A2B29; font-size: 1.125rem; margin-top: .1rem; margin-bottom: 1rem; letter-spacing: 0.03rem; text-transform: uppercase;">0</div>
                                    </td>
        
                                    <td class="text-center" style="width: 100%; text-align: center;" width="100%" align="center">
                                        <div class="text-title" style="font-size: .75rem; color: #90958B; letter-spacing: .05rem;">Pets</div>
                                        <div class="text-data" style="font-weight: bold; color: #2A2B29; font-size: 1.125rem; margin-top: .1rem; margin-bottom: 1rem; letter-spacing: 0.03rem; text-transform: uppercase;">0</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
        
                    <tr class="spacer-50" style="height: 50px;"></tr>
                    <tr>
                        <td colspan="2" style="width: 100%;" width="100%">
                            <table id="price-table" style="table-layout: fixed; width: 100%; border-top: 1px solid #E9E7DC; max-width: 400px; margin-left: auto; margin-right: auto;" width="100%">
                                <tr class="spacer-25" style="height: 25px;"></tr>
                                <tr>
                                    <td style="width: 100%; padding-top: 25px;" width="100%">
                                        Per Night
                                    </td>
                                    <td class="text-right" style="width: 100%; text-align: right; padding-top: 25px;" width="100%" align="right">$333</td>
                                </tr>
                                <tr>
                                    <td style="width: 100%; padding-top: 25px;" width="100%">
                                        <b>Total Rate</b>
                                    </td>
                                    <td style="width: 100%; padding-top: 25px;" width="100%">
                                        <div class="text-right" style="text-align: right;"><b>$1,250.30</b></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
        
                    <tr class="spacer-90" style="height: 90px;"></tr>
                    <tr>
                        <td class="text-center" colspan="2" style="width: 100%; text-align: center;" width="100%" align="center">
                            <a class="btn btn-green" href="" style="text-align: center; white-space: nowrap; padding: 1.75rem 2rem; font-size: 1rem; line-height: 1.5; color: #FFFFFF; text-decoration: none; font-weight: bold; min-width: 236px; display: inline-block; transition: all 0.3s ease; background-color: #345649; box-shadow: 0 5px 10px rgba(52, 86, 73, .54);">Book now</a>
                        </td>
                    </tr>
        
                    <tr class="spacer-90" style="height: 90px;"></tr>
                    <tr>
                        <td colspan="2" style="width: 100%;" width="100%">
                            <h2 style="font-weight: normal; margin-bottom: 10px;">We hope to welcome you to Terramor soon!</h2>
                            <p>Please note, options are not held and are subject to availability. If you have any questions, please free to contact us.</p>
                        </td>
                    </tr>
    </table>





    <table id="parent" style="table-layout: fixed; width: 100%; max-width: 650px; margin: 90px auto; padding-left: 25px; padding-right: 25px;" width="100%">
        <tr>
            <td colspan="2" style="width: 100%;" width="100%">
                <table id="footer" style="table-layout: fixed; width: 100%; font-size: 0.75rem; color: #90958B; letter-spacing: 0.05rem; max-width: 400px; margin-left: auto; margin-right: auto;" width="100%">
                    <tr class="spacer-90" style="height: 90px;"></tr>
                    <tr>
                        <td class="text-center" colspan="2" style="width: 100%; text-align: center;" width="100%" align="center"><img src="https://driveus.newbook.cloud/instances_132f9f7608b4e0e9b6bf7a214a05e1fa_5e56abf845c07.png" alt="Terramor Outdoor Resourt" height="68.97" width="300"></td>
                    </tr>

                    <tr class="spacer-50" style="height: 50px;"></tr>
                    <tr>
                        <td style="width: 100%;" width="100%">
                            1453 Maine 102<br>Bar Harbor, Maine 04609
                        </td>

                        <td style="width: 100%;" width="100%">
                            <a href="mailto:info@terramoroutdoorresort.com" style="color: #B14932; text-decoration: underline;">info@terramoroutdoorresort.com</a><br>
                            <a href="https://terramoroutdoorresort.com" style="color: #B14932; text-decoration: underline;">terramoroutdoorresort.com</a>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</div>